#mode{
    width: 72px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 8px;
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
    #mode{
        width: 80px;
        left: auto;
        right: 0;
        margin: 10px 15px;
    }
}