/* App Styles */

/* Fonts */
@font-face {
    font-family: "NeueMontreal";
    src: url("./assets/fonts/NeueMontreal/PPNeueMontreal-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./assets/fonts/NeueMontreal/PPNeueMontreal-Italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./assets/fonts/NeueMontreal/PPNeueMontreal-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("./assets/fonts/NeueMontreal/PPNeueMontreal-Thin.otf");
    font-weight: thin;
    font-style: normal;
}

/* Variables */
:root {
    /* Colors */
    --neutral-light: #EFF1F3;
    --neutral-dark: #221E22;
    /* might change this */
    --neutral-mid: #BCBCBC;
    --brilliant-sage:
    #17B890;
}

/* Media queries (min-width) */
/*
--min-phone: 320px;
--min-tablet: 480px;
--min-laptop-sm: 768px;
--min-laptop: 1024px;
--min-screen-lg: 1200px;
*/

/* Global Styles */

html{
    width: 100vw;
    min-height: 100vh;
}

body{
    font-family: "NeueMontreal", Arial, Helvetica, sans-serif;
    background-color: var(--neutral-light);
}

.mode-light{
    width: 100vw;
    min-height: 100vh;
    color: var(--neutral-dark);
    background-color: var(--neutral-light);
    transition: background-color 0.25s;
}

.mode-dark{
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: var(--neutral-light);
    background-color: var(--neutral-dark);
    transition: background-color 0.25s;
}

/* Display */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-evenly{
    justify-content: space-evenly;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* Font */
.font-size-1{
    font-size: 90px;
}
.font-size-2{
    font-size: 60px;
}
.font-size-3{
    font-size: 40px;
}
.font-size-4{
    font-size: 28px;
}
.font-size-5{
    font-size: 14px;
}
.font-size-6{
    font-size: 12px;
}

/* Reduce font-size-1 for tiny phones */
@media all and (max-width: 320px /*var(--min-laptop)*/){
    .font-size-1{
        font-size: 60px;
    }
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
    .font-size-1{
        font-size: 180px;
    }
    .font-size-2{
        font-size: 120px;
    }
    .font-size-3{
        font-size: 52px;
    }
    .font-size-4{
        font-size: 38px;
    }
    .font-size-5{
        font-size: 16px;
    }
    .font-size-6{
        font-size: 12px;
    }
}


.selected{
    color: var(--brilliant-sage)
}

.selected-neutral{
    color: var(--neutral-mid)
}

.link{
    text-decoration: none;
    color: var(--neutral-mid)
}

.link:hover{
    cursor: pointer;
    color: var(--brilliant-sage);
    transition: color 0.25s;
}

/* Layout */

.route-container{
    width: 75vw;
    min-height: 100vh;
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
}

.route-main-content{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 30% 10% 0% 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
    .route-main-content{
        padding: 10% 5% 0 5%;
    }
}

.route-main-header{
    margin-bottom: 10px;
    width: fit-content;
}

.route-main-text{
    letter-spacing: auto;
    line-height: 110%;
    margin: 25px 0;
    resize: none;
    width: 100%;
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
    .route-main-text{
        margin: 40px 0;
    }
}

/* Width & Height */
.fit-content{
    width: fit-content;
    height: fit-content;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

@media all and (min-width: 1024px /*var(--min-laptop)*/){
    .route-container{
        max-width: 75vw;
    }
}

/* Background */
.background-light{
    background-color: var(--neutral-light)
}

.background-dark{
    background-color: var(--neutral-dark)
}

/* Borders */
.border-light{
    border: 1px solid var(--neutral-light)
}

.border-dark{
    border: 1px solid var(--neutral-dark)
}

/* SVG fill */
.fill-light{
    fill: var(--neutral-light)
}

.fill-dark{
    fill: var(--neutral-dark)
}

.fill-light:hover, .fill-dark:hover{
    cursor: pointer;
    fill: var(--brilliant-sage);
    transition: fill 0.25s;
}